* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --background: #FFEDDF;
  --primary: #FC7B40;
  --primary-dark: #B75123;
  --text: #2C2729;
  --text-hover: #2C272955;
  --paper: #FFFFFF;
  --paint: #FFE7CF;
  --shadow: 252, 123, 64;
}
