.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background);
}

.main, .main *, .main>* {
  transition:
    color 300ms ease-in-out,
    background 300ms ease-in-out,
    background-color 300ms ease-in-out,
    padding-left 150ms ease-in-out;
}

.solved {
  --background: #E9FFDF;
  --primary: #4CCB8E;
  --primary-dark: #1D754B;
  --text: #2C2729;
  --text-hover: #2C272955;
  --paper: #FFFFFF;
  --paint: #E3FBEF;
  --shadow: 76, 203, 142;
}

.locked {
  --background: #FFE7DF;
  --primary: #CB4F4C;
  --primary-dark: #C02F2B;
  --text: #2C2729;
  --text-hover: #2C272955;
  --paper: #FFFFFF;
  --paint: #FFCFCF;
  --shadow: 203, 79, 76;
}

.homePageContainer {
  display: flex;
  background-color: var(--paper);
  flex-direction: column;
  border-radius: 75px;
  box-shadow: 15px 15px 30px 0px rgba(var(--shadow), 0.3);
  border: 2px solid var(--primary);
  overflow: hidden;
}

.formContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  max-height: 800px;
  width: 352px;
}

.title {
  font-size: 22px;
  max-width: 270px;
  letter-spacing: 0.015em;
  font-weight: 800;
}

.titleContainer {
  border-radius: 120px 120px 0px 0px;
  background-color: var(--primary);
  color: var(--paint);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  min-height: 70px;
}

.textField {
  min-height: 48px;
  border-radius: 6px;
  border: 1px solid var(--text);
  letter-spacing: 0.035em;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  padding: 0px 12px;
}

.textField::placeholder,.iconTextField>input::placeholder {
  opacity: 0.6;
  font-weight: 400;
}

.textField:focus, .iconTextField:focus-within {
  outline: none;
  border: 2px solid black !important;
}

.textField:hover, .iconTextField:hover {
  outline: none;
  border: 1.5px solid var(--text-hover)
}

.iconTextField {
  min-height: 48px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--text);
  overflow: hidden;
  position: relative;
  padding: 0px 12px;
}

.iconTextField>input {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  letter-spacing: 0.035em;
}

.iconTextField svg {
  position: absolute;
  right: 0;
  scale: 2;
  translate: -16px 14px;
  color: var(--text-hover);
  background-color: var(--paper);
}

.iconTextField svg:hover {
  cursor: pointer;
  color: var(--text);
}

.submitButton {
  border-radius: 0px 0px 60px 60px;
  height: 72px;
  border: none;
  background-color: var(--primary);
  color: var(--paint);
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.submitButton .unlock {
  display: block;
}

.submitButton .lock {
  display: none;
}

.submitButton:not(:disabled):hover .unlock {
  display: none;
}

.submitButton:not(:disabled):hover .lock {
  display: block;
}

.submitButton:enabled:hover {
  padding-left: 8px;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: var(--primary);
  opacity: 0.65
}

.noInteract {
  pointer-events: none;
  cursor: default;
}

.linkContainer {
  text-overflow: ellipsis;
  background-color: var(--background);
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-dark);
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  outline: 2px solid var(--background);
  border: none;
}

.linkContainer:hover, .linkContainer:focus {
  outline: 2px solid var(--primary-dark);
}

.linkContainer:hover *, .linkContainer:focus * {
  color: var(--primary-dark);
  opacity: 1;
}


.linkContainer.solved {
  background-color: #DEFFE9;
  color: #246A3B;
  outline: 2px solid #7FD19B;
}

.linkContainer.solved:hover, .linkContainer.solved:focus {
  outline: 2px solid #4C9A66;
}

.linkContainer.solved:hover *, .linkContainer.solved:focus * {
  color: #226639;
}

.linkContainer.solved .linkButton {
  color: #7FD19B;
}

.linkText {
  text-overflow: ellipsis;
  overflow: hidden;
}

.linkButton {
  background: none;
  outline: none;
  border: none;
  scale: 2;
  margin-top: 6px;
  color: var(--primary-dark);
  opacity: 0.8
}

.sliderContainer {
  text-align: start;
  font-size: 14px;
}

.sliderLabelContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}

.sliderValue {
  font-weight: 700;
  color: var(--primary);
}
