.toastContainer {
  position: absolute;
  background-color: var(--paper);
  padding: 1.5rem;
  transition: bottom 500ms;
  font-weight: 500;
  color: var(--text);
  border-radius: 8px;
  box-shadow: 15px 15px 30px 0px rgba(var(--shadow), 0.2);
}
